<div class="container-fluid">
<h1>Hello World</h1>
<i class="fa-solid fa-user-secret"></i>
<%= link_to "Privacy Policy", privacy_policy_path %>

<button><i class="btn fa fa-book"><%= link_to "Courses", courses_path %></i></button>

</div>