<% content_for :title do %>
Corsego | Editin
<%= @enrollment %>
<% end %>
<div class="card mb-3 mt-3">
<div class="card-header">
<h1> <div class="text-warning fa fa-star"></div>  Add a Review</h1>
</div>
<div class="card-body">
<%= render 'form', enrollment: @enrollment %>
</div>
<div class="card-footer">
<%= link_to 'Show Review', @enrollment %> |
<%= link_to 'Back to Course', course_path(@enrollment.course) %>
</div>
</div>
