<% content_for :title do %>
Corsego | New Enrollment
<% end %>
<div class="card mb-3 mt-3">
<div class="card-header">
<h1><div class="fa fa-lock-open"></div> New Enrollment</h1>
</div>
<div class="card-body">
<%= render 'form', enrollment: @enrollment %>
</div>
<div class="card-footer">
<%= link_to 'Back', enrollments_path %>
</div>
</div>
