<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        Copyright © <%= Time.now.year %> CoursePlatform Sp. z o.o.
        <div class="row">
          <i class="fa fa-envelope"></i>
          <%= mail_to 'email@email.com' %>
        </div>
      </div>
      <div class="col-md-4">
        Privacy policy <br>
        Terms and conditions
      </div>
      <div class="col-md-4">
        About us <br>
        <%= link_to 'Teach on CoursePlatform', new_course_path %>
      </div>
    </div>
  </div>
  <br>
</footer>
